{% extends "base.html" %}
{% load i18n %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{form.errors}}
    <article class="blog-post">
          <input type=text name=title maxlength="100">
          <p><textarea name=description></textarea></p>
          <p><select multiple="multiple" name="questions">
            {% for q in questions %}
            <option value={{q.pk}}>{{ q.content }}</option>
            {% endfor %}
        </select></p>
        <p><a class="btn btn-outline-primary" href="/add_question">{% trans "Add question"%}</a></p>
        <p><button type="submit">{% trans "Submit" %}</button></p>
    </article>
</form>
{% endblock %}